.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    width: 160px;
    background-color: unset;
    backdrop-filter: blur(15px);
    border: 1px solid #f8f9fa;
    color: #1d2124;
    margin-bottom: 20px;
}
.card-header {
    font-size: 20px;
    border-bottom: 1px solid rgba(248,249,250,1);
    text-align: center;
}
.card-body {
    
}
.card-text {
    font-size: 14px;
}
